.container {
  max-width: 960px;
}

/*
 * Fonts
 */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

 @import url(//db.onlinewebfonts.com/c/ee2d6efb70dae6b477d30df1fd294972?family=Bitstream+Iowan+Old+Style);
 @font-face {
   font-family: "Bitstream Iowan Old Style"; 
   src: url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.eot"); 
   src: url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.woff") format("woff"), url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ee2d6efb70dae6b477d30df1fd294972.svg#Bitstream Iowan Old Style") format("svg"); 
 }
 
/* 
 * General
 */

html {
  scroll-behavior: smooth;
}

div {
  font-family:"Bitstream Iowan Old Style"; 
}

/*
 * Navbar
 */
 
/*
 * Custom translucent site header
 */

.navbtn {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  height: 25px;
  width: 75px;
}

.site-header {
  height: 51px;
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  padding: 12px 25px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color .15s ease-in-out;
  text-decoration: none;
}

.site-header a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #46B1C9;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Play
 */

.choice {
  width: 60px;
  height: 60px;
  font-size: 20px;
}

.selected {
  background-color: #46B1C9;
  color: #FBFBF5;
  border: none;
}

/*
 * About
 */ 
.pfp {
  height:6vw;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/*
 * Specifics
 */

#logo {
  font-weight:400;
}

/* 
  Button Styling 
*/

.primary-btn {
  padding: 0;
  margin: 0 10px;
  background-color: #393E41;
  color: #FFFFFF;
  border: none;
}

.primary-btn:hover {
  background-color: #6B6E71;
  color: #FFFFFF;
}

.primary-btn:active {
  background-color: #2B2F31;
  color: #FFFFFF;
}

.secondary-btn {
  padding: 0;
  margin: 0 10px;
  background-color: #FBFBF5;
  color: #000000;
  border: 1px solid #393E41;
}

.secondary-btn:hover {
  background-color: #F6F7EB;
  color: #000000;
}

.secondary-btn:active {
  background-color: #E7E8DE;
  color: #000000;
}